<mat-card [style]="'background-color: ' + background + ';' + 'color: ' + cor + ';'" class="app-card">
    <mat-card-header>
    <mat-card-title class="container-titulo">{{titulo}}</mat-card-title>
    <mat-card-title class="container-preco">{{preco}}</mat-card-title>
</mat-card-header>

<mat-list >
    <mat-list-item class="border1"  [style]="'color: ' + cor + ';'" > {{conteudo}}</mat-list-item>
  </mat-list>

<mat-list  >
    <mat-list-item class="border2"  [style]="'color: ' + cor + ';'">{{segundoConteudo}}</mat-list-item>
  </mat-list>
<mat-list>
    <mat-list-item class="border3" [style]="'color: ' + cor + ';'">{{terceiroConteudo}}</mat-list-item>
  </mat-list >
  
  <mat-button-toggle-group  class="btn">
  <button mat-stroked-button (click)="openSnackBar(message, action)" class="btn2">LEARN MORE</button>
</mat-button-toggle-group>
</mat-card>



