
.app-card {
    width: 17em;
    height: 25em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.container-preco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;  
    border-radius: 5px;
}

.btn2 {
    width: 15em;
}

.border1,.border2, .border3{
    border-top: 1px solid;
    box-sizing: border-box;
}

.border3{
    border-bottom: 1px solid;
    box-sizing: border-box;  
}


   