
<div class="wrapper">
<div>
    <app-card titulo="Basic" preco="$19.99"
    [conteudo]="primeiroStorage" [segundoConteudo]="primeiroUser" [terceiroConteudo]="primeiroSendUp" 
    background="rgb(255, 255, 255)" cor="black" message="Pacote comprado" action="Parabéns">
  </app-card>

</div>

<div class="container">
  <app-card titulo="Professional" preco="$24.99"
  [conteudo]="segundoStorage"  [segundoConteudo]="segundoUser" [terceiroConteudo]="segundoSendUp"
  background="rgb(144, 148, 235)" cor="white" message="Pacote comprado" action="Parabéns">
  </app-card>
</div>  

<div>
  <app-card titulo="Master" preco="$39.99"
  [conteudo]="terceiroStorage" [segundoConteudo]="terceiroUser" [terceiroConteudo]="terceiroSendUp"
  background="rgb(255, 255, 255)" cor="black" message="Pacote comprado" action="Parabéns">
  </app-card>
</div>
</div>



  
  