.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.primeiro-container   {


   

}
.segundo-container {
    transform: scale(1.08);
    z-index: 1;
  
}



.terceiro-container {
   
   

}